DNS_SERVER_ADMIN_PASSWORD=op://d3HL/Technitium-dns/DNS_SERVER_ADMIN_PASSWORD
DNS_SERVER_PREFER_IPV6=op://d3HL/Technitium-dns/DNS_SERVER_PREFER_IPV6
DNS_SERVER_WEB_SERVICE_HTTP_PORT=op://d3HL/Technitium-dns/DNS_SERVER_WEB_SERVICE_HTTP_PORT
DNS_SERVER_WEB_SERVICE_HTTPS_PORT=op://d3HL/Technitium-dns/DNS_SERVER_WEB_SERVICE_HTTPS_PORT
DNS_SERVER_WEB_SERVICE_ENABLE_HTTPS=op://d3HL/Technitium-dns/DNS_SERVER_WEB_SERVICE_ENABLE_HTTPS
DNS_SERVER_WEB_SERVICE_USE_SELF_SIGNED_CERT=op://d3HL/Technitium-dns/DNS_SERVER_WEB_SERVICE_USE_SELF_SIGNED_CERT
DNS_SERVER_RECURSION=op://d3HL/Technitium-dns/DNS_SERVER_RECURSION
DNS_SERVER_RECURSION_NETWORK_ACL=op://d3HL/Technitium-dns/DNS_SERVER_RECURSION_NETWORK_ACL
DNS_SERVER_ENABLE_BLOCKING=op://d3HL/Technitium-dns/DNS_SERVER_ENABLE_BLOCKING
DNS_SERVER_FORWARDERS=op://d3HL/Technitium-dns/DNS_SERVER_FORWARDERS
DNS_SERVER_FORWARDER_PROTOCOL=op://d3HL/Technitium-dns/DNS_SERVER_FORWARDER_PROTOCOL
DNS_SERVER_LOG_USING_LOCAL_TIME=op://d3HL/Technitium-dns/DNS_SERVER_LOG_USING_LOCAL_TIME
MYSQL_ROOT_PASSWORD=op://d3HL/Technitium-dns/MYSQL_ROOT_PASSWORD
MYSQL_USER=op://d3HL/Technitium-dns/MYSQL_USER
MYSQL_PASSWORD=op://d3HL/Technitium-dns/MYSQL_USER
cDATA=op://d3HL/Technitium-dns/cDATA